@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
html {
    color: white;
    mix-blend-mode: difference;
    font-family: 'Archivo Black', sans-serif;
    background-color: transparent;
}